/**
 * autocomplete.SearchBox extension
 * @authors: ibarbieri
 * @description: core style of the autocomplete searchBox extension.
*/


/* Form
---------------------------------------------------------------*/
.nav-search {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    padding: 5px 66px 5px 66px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Input search
---------------------------------------------------------------*/
.nav-search input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 48px 4px 10px;
    margin: 0;
    font-size: 16px;
    color: #444444;
    font-size: 17px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-search input[type=text]:focus {
    border: 1px solid #bfbfbf;
    outline: 0;
    -webkit-box-shadow: 0 0 5px rgba(117, 127, 16, 0.2);
    box-shadow: 0 0 5px rgba(117, 127, 16, 0.2);
}


/* Button
---------------------------------------------------------------*/
.nav-search button {
    position: absolute;
    top: 0;
    right: 66px;
    width: 37px;
    height: 100%;
    padding: 0;
    line-height: 44px;
    background: none;
    border: none;
}

.nav-search .ch-autocomplete-loading + button:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: -11px;
    z-index: 0;
    width: 15px;
    height: 15px;
    margin: -8px 0 0;
    background: url("http://static.mlstatic.com/org-img/ch/assets/0.3/loading-big.gif") no-repeat center center white;
    background-size: 100% auto;
}

.ch-autocomplete-loading {
    background: none;
}

.nav-search .nav-icon-search {
    position: absolute;
    left: 0;
    top: 0;
    background-position: 12px 13px;
    width: 44px;
    height: 40px;
    background-image: url(http://static.mlstatic.com/org-img/commons/assets/sprite.png?v1);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
}

.ie8 .nav-search .nav-icon-search {
    top: -19px;
}

.nav-search button:focus,
.nav-search .nav-icon-search:focus {
    outline: none;
}


/* Autosuggest
---------------------------------------------------------------*/
.ch-popover.ch-box-lite.ch-autocomplete {
    position: absolute !important;
    left: 0 !important;
    padding: 0;
    margin-top: 6px;
    background: #fff;
    min-width: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: 0;
    color: #333;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

.ch-autocomplete {
    padding: 0;
    box-shadow: none;
    width: 100% !important;
    left: 0 !important;
}

.ch-autocomplete-list .ch-autocomplete-item {
    margin: 0;
    padding: 15px 10px;
    cursor: pointer;
    border-top: 1px solid #EEEEEE;
    font-size: 13px;
    position: relative;
    border-bottom: none;
    min-height: 0;
    line-height: normal;
    text-indent: initial;
    border-radius: 0;
}

.ch-autocomplete-list .ch-autocomplete-item .ch-icon-arrow-up {
    position: absolute;
    display: block;
    top: 18px;
    right: 20px;
    border-radius: 2px;
    background: #CCC;
    width: 3px;
    height: 15px;
    margin: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ch-autocomplete-list .ch-icon-arrow-up:before {
    left: -3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ch-autocomplete-list .ch-icon-arrow-up:after {
    left: 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ch-autocomplete-list .ch-icon-arrow-up:before,
.ch-autocomplete-list .ch-icon-arrow-up:after {
    position: absolute;
    top: -4px;
    width: 3px;
    height: 11px;
    display: block;
    border-radius: 2px;
    background: #CCC;
    content: '';
}

.ch-popover-content .ch-autocomplete-item {
    font-weight: bold;
}

.ch-popover-content .ch-autocomplete-item strong {
    font-weight: normal;
}


/* Category checkbox
---------------------------------------------------------------*/
.nav-search .nav-category {
    display: none;
}


/* Aditional Info
---------------------------------------------------------------*/
.aditional-info .aditional-info-title {
    color: #999999;
    font-size: 13px;
    line-height: 13px;
    margin: 10px 15px 8px;
}

.aditional-info.official-store-suggest {
    background-color: #EEEEEE;
}

.aditional-info .aditional-info-list li {
    border-top: 1px solid #EEE;
    font-size: 13px;
    position: relative;
    border-radius: 0;
    border-bottom: none;
    min-height: 0;
    line-height: normal;
    text-indent: initial;
    display: block;
    padding: 15px 10px;
    margin: 0;
    color: #333;
    text-overflow: ellipsis;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.aditional-info .official-store-suggest > li {
    border-bottom: 1px solid #dedede;
}

.aditional-info .official-store-suggest li span {
    color: #999999;
    font-size: 12px;
}

.aditional-info .official-store-suggest li span.store-name {
    color: #333333;
}


/* Autocomplete scroll bar
---------------------------------------------------------------*/
.ch-popover-content {
    position: relative;
    margin: 0px auto 0 auto;
    padding: 0px;
    width: auto;
    height: auto;
    max-height: 277px;
    overflow: hidden;
}

.ch-popover-content .ch-autocomplete-list {
    width: auto;
    height: auto;
}